.container, .container1 {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.box1, .box2, .box3 {
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin: 150px;
  overflow: auto;
  height: 840px;
  border-radius: 25px;
  font-family: 'M2';
  font-size: 120%;
  padding: 30px;
  padding-left: 30px;
}

.boxTitle1, .boxTitle2, .boxTitle3 {
  position: absolute;
  margin: 100px;
  font-family: 'B1';
  font-size: 200%;
}

.button1, .button2, .button3 {
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'M2';
  background-color: transparent;
}

.buttonContainer1, .buttonContainer2, .buttonContainer3 {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
}

.boxTitle1 {
  margin-left: 195px;
}

.boxTitle2 {
  margin-left: 738px;
}

.boxTitle3 {
  margin-left: 1247px;
}